.btn {
    padding: 16px 48px 18px;
    border: 0;
    cursor: pointer;
    border-radius: 50px;
    font-size: 14px;
    font-weight: bold;
    margin-top: 16px;
}

.btn-primary {
    background-color: #1DB954;
    color: white;
    transition-duration: 0.5s;
}

.btn-primary:hover {
    background-color: #1ED760;
}