.header {
    background-color: rgba(0,0,0,.6);
    padding: 20px 105px;
    display: flex;
    align-items: center;
    position: fixed;
    width: calc(100% - 210px);
}

.menu {
    margin: 0 0 0 auto;
    display: flex;
}

.menu-item {
    margin-right: 17px;
    margin-left: 17px;
    list-style: none;
    font-weight: bold;
}

.menu-item a {
    color: white;
    text-decoration: none;
    transition: none;
}

.menu-item a:hover {
    color: #1DB954;
}

.grey-menu a {
    color: rgba(200,200,200,1);
}

.logo {
    height: 40px;
}

.divider {
    background-color: #D9DADC;
    margin-top: 2.5px;
    height: 16px;
    width: 1px;
    margin-left: 17px;
    margin-right: 17px;
    list-style: none;
}