.hero {
    color: white;
    /* text-shadow: 1px 1px 4px rgba(0,0,0,.8); */
    padding: 8px; 
    height: calc(80vh - 16px);
    background-image: linear-gradient(#f3747b, #f4886d);
    background-image: url('../img/background.jpg');
    background-blend-mode: color;
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero h1 {
    font-size: 80px;
    margin: 0 0 10px;
}

.hero h2 {
    font-size: 18px;
    margin: 9px 0 18px;
}